@(title: String)(content: Html)

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/main.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/bootstrap.min.css")'>
        <link rel="shortcut icon" type="image/png" href='@routes.Assets.versioned("images/favicon.png")'>
        <script src='@routes.Assets.versioned("javascripts/hello.js")' type="text/javascript"></script>
    </head>
    <body>
        <nav class="navbar navbar-dark">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img alt="Brand" src='@routes.Assets.versioned("images/logo.png")'>
                    </a>
                    Email formatter
                </div>
                by Gustavo Saudade
            </div>
        </nav>
        <div class="content">
            @content
        </div>
    </body>
</html>
